<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<div class="card">
    <div class="card-head d-flex align-items-center justify-content-center">
        <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.91 11.672a.375.375 0 010 .656l-5.603 3.113a.375.375 0 01-.557-.328V8.887c0-.286.307-.466.557-.327l5.603 3.112z" />
            </svg>
        </a>
    </div>
    <div class="card-body d-flex flex-column">
        <div class="categorias d-flex flex-row">
            <h5 class="cat-charlas">Prueba</h5>
            <h5 class="cat-salud">Prueba 2</h5>
        </div>
        <div class="tit-card">
            <h1>Pleurotina para alimentación animal</h1>
        </div>
        <div class="card-descripcion">

        </div>
    </div>
    <div class="card-footer">

    </div>
</div>

</body>
</html>